{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2>
    WeatherTop
  </h2>
  <p>
    the state of the art Weather Station with a 5 in 1 Wireless Sensor for Wind Speed & Direction, Rainfall,
    Temperature and Humidity readings.
  </p>

  <h3>WeatherTop 1000:</h3>
  <p>WeatherTop brings to you Weather Station with Radio Control Clock ( MSF UK & Ireland ) and 5-in-1 professional
    sensor that tells you about the different changes in weather outside your space. <br> <br><br>This device gets a
    stylish design
    and displays , Wind Speed & Direction , Temperature , Humidity & Rain Fall, weather forecast and time-related
    details .</p>
</section>